.contactInfo{
    text-align: center;
    color: white;
    max-width: 1260px;
    margin: 2rem auto;
    padding: 2rem;
}

.j{
color: aqua;
}

.e{
    color: violet;
}

.f{
color:  red;
;
}

.c{
color: green;
}

.d{
color: yellow;
}